---
import Moon from "astro-heroicons/outline/Moon.astro";
import Sun from "astro-heroicons/outline/Sun.astro";
const { currentLocale } = Astro;
const langs = ['en', 'ru'];
---
<div class="h-26 flex flex-col w-full">
  <!-- <div class="h-60 pt-6 flex flex-col"> -->
  <div class="w-full flex items-center my-0 mt-2">
    <img class="w-20 h-20 ml-4 md:ml-8" src="/logo.png"/>
    <div class="mr-4 md:mr-10 text-md ml-auto text-olive text-right">
      { currentLocale == "en" ?
      <a href={Astro.url.pathname.replace(`/${currentLocale}`, "/ru")}>
        EN 
      </a>

    :
    <a href={Astro.url.pathname.replace(`/${currentLocale}`, "/en")}>
      RU
      </a>
    }
    </div>
  </div>
  <div class="flex my-2 mt-0 sm:mt-2 w-full text-center">
    <div class="mx-auto">
      <a class="text-olive my-2 sm:my-8 text-xs sm:text-sm hover:underline" href={`/${currentLocale}/`}> 
        { currentLocale == "en" ? "RSVP" : "RSVP" }
      </a>
      <a class="text-olive my-2 sm:my-8 px-8 text-xs sm:text-sm hover:underline" href={`/${currentLocale}/getting-there`}>
        { currentLocale == "en" ? "Getting There" : "Место Торжества" }
      </a>
      <a class="text-olive my-2 sm:my-8 text-xs sm:text-sm hover:underline" href={`/${currentLocale}/useful-info`}>
        { currentLocale == "en" ? "Useful Info" : "Информация"}
      </a>
      <!-- <a class="text-olive m-2 sm:m-8 text-xs sm:text-sm hover:underline" href="/things">BCN</a> -->
    </div>
  </div>
</div>

<script>
  // if (
  //   localStorage.theme === 'dark' ||
  //   (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)
  // ) {
  //   document.documentElement.classList.add('dark');
  // } else {
  //   document.documentElement.classList.remove('dark');
  // }
</script>
